<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Flurl" version="2.8.2" targetFramework="xamarinios10" />
  <package id="Flurl.Http" version="2.4.2" targetFramework="xamarinios10" />
  <package id="HtmlAgilityPack" version="1.11.9" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="xamarinios10" />
  <package id="PinballApi" version="2.0.55" targetFramework="xamarinios10" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="xamarinios10" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="xamarinios10" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XPath.XmlDocument" version="4.3.0" targetFramework="xamarinios10" />
</packages>